In [5]:
Nama = input('Nama = ')
Nilai = float(input('Nilai = '))
if 80 <= Nilai <= 100:
  print(f'Selamat {Nama}, kamu mendapatkan Nilai {Nilai} dengan Grade A')
elif 70 <= Nilai < 80:
  print(f'Selamat {Nama}, kamu mendapatkan Nilai {Nilai} dengan Grade B')
elif 60 <= Nilai < 70:
  print(f'Selamat {Nama}, kamu mendapatkan Nilai {Nilai} dengan Grade C')
elif 40 <= Nilai < 60:
  print(f'Selamat {Nama}, kamu mendapatkan Nilai {Nilai} dengan Grade D')
else:
  print(f'Selamat {Nama}, kamu mendapatkan Nilai {Nilai} dengan Grade E')

Nama = Ropi
Nilai = 30
Selamat Ropi, kamu mendapatkan Nilai 30.0 dengan Grade E

In [16]:
a = 20
if a >10:
  pass

In [23]:
n = 5
while n:
  n -= 1
  print(n)

4
3
2
1
0